doctype html
html(lang="zh-cmn-Hans")
    head
        meta(charset="utf-8")
        title Biu!
    body(style="background: rgb(230, 230, 255);")
        canvas#biu(width=480 height=480 style="border: 1px solid black")
            p No support of canvas
        script(src="https://code.jquery.com/jquery-3.1.0.min.js")
        script(src="script.js")
